
<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_celeste@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio de Python: map(), filter() y reduce()

## Ejercicio 1. map ()

1.1. Dada una lista de números, obtén una nueva lista con el doble de cada valor.

1.2. Genera una función que al recibir una frase devuelva una lista con la longitud de cada palabra. Nota: también se puede solucionar con una `lambda`. 

1.3. Genera una función que convierta una lista de tuplas a una lista de strings, por ejemplo: 

```python
lista_de_tuplas = [("Juan", "Pérez"),("María", "García"),("Luis", "Martínez"),("Ana", "López"),("Carlos", "Sánchez"),("Elena", "Fernández"),("Miguel", "González")]


# output esperado
['Juan Pérez',
'María García',
'Luis Martínez',
'Ana López',
'Carlos Sánchez',
'Elena Fernández',
'Miguel González']
```

1.4. Crea una función que calcule la diferencia entre los valores correspondientes de dos listas. Debrás restar los elementos de las dos listas, devolviendo una nueva lista con las diferencias. Por ejemplo: 

```python
# input
numeros = [4, 8, 15, 16, 23, 42]
numeros_2 = [5, 12, 37, 8, 23, 45]

# output
[1, 4, 22, -8, 0, 3]
```

1.5. Genera una función la cual, para un conjunto de caracteres, devuelva una lista de tuplas con cada letra en mayúsculas y minúsculas. Importante, no puede haber dos tuplas que contengan las mismas letras. Ejemplo:

```python
conjunto_caracteres = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}

# output
{('A', 'a'),
 ('B', 'b'),
 ('E', 'e'),
 ('F', 'f'),
 ('I', 'i'),
 ('O', 'o'),
 ('U', 'u')}
```

In [1]:
#1
listacaracteres=[2,4,6,8,7,1,2]

def doble(numer):
    """ definimos una variable doble en la que pediremos que llame para hacer el doble de la lista.

    Args:
        (numero)(int):numero al que le haremos el doble.

    Returns:
        lista[int]: devolvemos una lista de numeros int el doble del la lista inicial.
    """
    return numer*2

list(map(doble,listacaracteres))

[4, 8, 12, 16, 14, 2, 4]

In [2]:
#2
def longitud_palabras(frase):
    """una funcion la cual pedimos una frase.

    Args:
        frase (str): cadena de texto que pedimos.

    Returns:
        list: devolvemos una lista con las longitudes de las palabras del str.
    """
  
    return len(frase)

frase= 'hola mundo hola'

list(map(longitud_palabras,frase.split()))

[4, 5, 4]

In [3]:
#3

lista_de_tuplas = [("Juan", "Pérez"),("María", "García"),("Luis", "Martínez"),("Ana", "López"),
                   ("Carlos", "Sánchez"),("Elena", "Fernández"),("Miguel", "González")]
def listrastring(item):
        """definimos una lista que nos va a dar el elemento de una tupla dentro de una lista de tuplas.

        Args:
            item (str): elemento dentro de la tupla dentro de la lista.

        Returns:
            list: Nos devolvera una lista con las tuplas unida y convertidas en str.
        """
        return item[0] +' '+ item[1]

list(map(listrastring,lista_de_tuplas))

['Juan Pérez',
 'María García',
 'Luis Martínez',
 'Ana López',
 'Carlos Sánchez',
 'Elena Fernández',
 'Miguel González']

In [22]:
#4
numeros = [4, 8, 15, 16, 23, 42]
numeros_2 = [5, 12, 37, 8, 23, 45]

resultado_map_multiple = list(map(lambda n1, n2: n2-n1, numeros, numeros_2))
print(resultado_map_multiple)

[1, 4, 22, -8, 0, 3]

In [156]:
#5
conjunto_caracteres = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}

def tupla(caracter):
    """funcion que llama a los caracteres del set conjunto_caracteres.

    Args:
        caracter (str): strs que estan incluidos en el set.

    Returns:
        list: devuelve una lista de tuplas con el valor en mayuscula y miniscula.
    """
    return (caracter.upper(), caracter.lower())

resultado = list(map(tupla, conjunto_caracteres))
resultado

[('E', 'e'),
 ('B', 'b'),
 ('I', 'i'),
 ('A', 'a'),
 ('O', 'o'),
 ('U', 'u'),
 ('F', 'f')]

## Ejercicio 2. Filter ()

2.1. Crea una función que devuelva las palabras de una lista que comienzan con una letra específica. Por ejemplo:

```python
# input
frase = 'Incluso la persona más pequeña puede cambiar el curso del futuro.'
letra = 'p'

# output
['persona', 'pequeña', 'puede']
```

2.2. Para una lista con elementos tipo *integer* y *string*, obtén una nueva lista sólo con los valores de tipo *integer*.

2.3. Escribe una función que tome una lista de nombres de mascotas como parámetro y devuelva una nueva lista excluyendo ciertas mascotas prohibidas en España. La lista de mascotas a excluir es ["Mapache", "Tigre", "Serpiente Pitón", "Cocodrilo", "Oso"].

```python
#input
mascotas = ['Perro', 'Tigre', 'Gato', 'Oso', 'Erizo']

# output
['Perro', 'Gato', 'Erizo']
```
2.4. Escribe un programa en Python que cree una lista de diccionarios que contenga información de estudiantes (nombre, edad, calificación) y use la función filter para extraer a los estudiantes con una calificación mayor o igual a 90.

In [4]:
#1
frase = 'Incluso la persona más pequeña puede cambiar el curso del futuro.'
lista = frase.split()
lista


def empiezaporp(elem):
    """definimos una funcion que va a recorrer los elementos de frase.

    Args:
        elem (str): subcadena de str.

    Returns:
        list: va a devlver una lista con las subcadenas str indicadas.
    """
    if elem.startswith('p'):
        return elem
            
list(filter(empiezaporp,lista))

['persona', 'pequeña', 'puede']

In [5]:
#2

listah=[3,4,5,6,7,'jaime','primo','tio']

def es_int(elem):
    """definimos una funcion que va a recorrer los elementos de la listah y nos dira los elem int.

    Args:
        elem (int y str): puede ser un numero y una cadena de texto.

    Returns:
        list(int): nos devuelve una lista con los int que tenia la lista unicial.
    """
    if type(elem) == int:
        return True
    else:
        return False
    
list(filter(es_int,listah))

[3, 4, 5, 6, 7]

In [251]:
#3

mascotas = ['Perro', 'Tigre', 'Gato', 'Oso', 'Erizo']
macotasexcluidas = ["Mapache", "Tigre", "Serpiente Pitón", "Cocodrilo", "Oso"]
def mascotassi(mascota):
    """definimos una funcion que nos diga iterando en las listas si la mascota no es excluida.

    Args:
        mascota (str): elemento en las listas.

    Returns:
        list(str):nos devuelve una lista de mascotas que no estan excluidas.
    """
    if mascota not in macotasexcluidas:
        return True

   
list(filter(mascotassi,mascotas))

['Perro', 'Gato', 'Erizo']

In [271]:
#4
Diccionario = [{'nombre': 'adri', 'calificacion':91,'edad':20},
   {'nombre': 'javi', 'calificacion':85,'edad':21},{'nombre': 'ana', 'calificacion':98,'edad':30},{'nombre': 'jony', 'calificacion':70,'edad':63}]


def es_mayoroigual_90(estudiante):
    """funcion que recorre un diccionario de estudiantes y busca el valor mayor que 90 como valor.

    Args:
        estudiante (str): es la clave diccionario.

    Returns:
        diccionario: nos devuelve un diccionario con los valores de calificaciones mayores a 90.
    """
    if estudiante['calificacion'] >=90:
        return True
    
list(filter(es_mayoroigual_90,Diccionario))

[{'nombre': 'adri', 'calificacion': 91, 'edad': 20},
 {'nombre': 'ana', 'calificacion': 98, 'edad': 30}]

## Ejercicio 3. Reduce ()

3.1 Crea una función que tome una lista de dígitos y devuelva el número correspondiente. Por ejemplo, [5,7,2] corresponde al número quinientos setenta y dos (572).

3.2. Dada una lista de números enteros, obtén el producto total de los valores de dicha lista

3.3. Concatena una lista de palabras. Por ejemplo:

```python
# input
lista_int_str = ['Un', 'mago', 'nunca']

# output
'Unmagonunca'
```

3.4. Calcula la diferencia total en los valores de una lista, es decir, crea un programa que vaya restando todos sus elementos.

In [2]:
#1
from functools import reduce 
lista = [5,7,2]

def fun(n1,n2):
    """definimos una funcion que recorrre una lista y opera sobre ella.

    Args:
        n1 (int): numero perteneciente a la lista.
        n2 (int): _numero perteneciente a la lista.

    Returns:
        int: devuelve el primer numero y el segundo por 10 mas el tercer numero de la lista.
    """
    return (n1*10)+n2
   
resultado = reduce(fun, lista)

resultado

572

In [3]:
#2
 
numeros = [5,4,2,3]

def f(n3,n4):
    """definimos una funcion que recorrre una lista y opera sobre ella.

    Args:
        n3 (int): numero perteneciente a la lista.
        n4 (int): _numero perteneciente a la lista.

    Returns:
        int: devuelve los valores multiplicados entre si dentro de la lista.
    """
    return n3*n4

resultado = reduce(f, numeros)
print(f'El resultado del producto de los numero de la lista es {resultado}')

El resultado del producto de los numero de la lista es 120

In [4]:
#3


lista_int_str = ['Un', 'mago', 'nunca']

def fu(e1,e2):
    """definimos una funcion que recorrre una lista y opera sobre ella.

    Args:
        e1 (str): valor perteneciente a la lista.
        e2 (str): valor perteneciente a la lista.

    Returns:
        str: devuelve la suma de los str de la lista
    """
    return e1+e2

resultado = reduce(fu, lista_int_str)
resultado

'Unmagonunca'

In [6]:
#4

numeros = [23, 1, 45, 78, 5, 12, 98, 34, 67, 3, 56, 42, 89, 15, 7]
def resta(ee1,ee2):
    """definimos una funcion que recorrre una lista y opera sobre ella.

    Args:
        ee1(int): numero perteneciente a la lista.
        ee2(int): _numero perteneciente a la lista.

    Returns:
        int:la resta total de todos los numero empezado por el elemento numero uno hasta el ultimo.
    """
    return ee1-ee2

resultado = reduce(resta, numeros)
print(f'El resultado de la resta de todos los elementos es {resultado}')

El resultado de la resta de todos los elementos es -529

## Ejercicio 4. Ejercicios combinando las funciones

4.1. Dada una lista de números, filtra los números positivos y calcula su promedio.

4.2. Dada una lista de palabras, filtra las palabras que empiezan con una vocal, conviértelas a mayúsculas, y luego concaténalas en una sola cadena. 

4.3. Dada una lista numérica, filtra los números impares y calcula el producto de todos ellos 

4.4. Dada una lista de palabras, filtra las que contienen la letra 'a' y cuenta cuántas hay.